@import "tailwindcss";

:root {
  --background: #e3ecff;
  --foreground: black;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e3ecff;
    --foreground: #e3ecff;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.loginRightImage {
  position: fixed;
  left: 34%;
  height: 950px;
}
/* added on 11-04-2025 by uma  */
.contentDiv {
  display: flex;
}

.mainDiv {
  width: 100%;
}
.historyDiv {
  width: 17%;
}

.historySection {
  margin: 1rem 0rem;
}

.hiddenMenu {
  margin-top: 4px;
}

.leftaside {
  position: absolute;
  top: 0;
  width: 17%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.dashboardCard{
  height: calc(80vh - 20px);
}
.custom-oklch-gradient {
  background-image: linear-gradient(
    to right,
    oklch(83.571% 0.08421 300.858),
    #bfdbfe
  ); /* Using oklch for from and a common blue-200 hex for to */
}

@media screen and (max-width: 660px) {
  body {
    margin: 0;
    padding: 0;
  }
  .contentDiv {
    display: block;
    flex-direction: column;
    width: 100%;
  }

  .mainDiv,
  .historyDiv {
    width: 100%;
  }
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #e2fafc;
    color: black;
    font-size: 12px;
    position: absolute;
    padding: 1px 5px 2px 5px;
    top: 160%;
    left: 100%;
    transform: translateY(-50%);
    z-index: 1000;
    box-shadow: 3px 5px 3px #c0dbf3;
    opacity: 1;
    border: 0.8px solid #749BC2;
    border-radius: 9px;
    visibility: hidden;

    /* Width control */
    max-width: 300px;
    width: max-content;
    white-space: normal;
    word-wrap: break-word;
}

[data-title] {
    position: relative;
}

[data-titleHead]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-titleHead]:after {
    content: attr(data-titleHead);
    background-color: #e2fafc;
    color: black;
    font-size: 12px;
    position: absolute;
    padding: 1px 5px 2px 5px;
    top: 160%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1000;
    box-shadow: 3px 5px 3px #c0dbf3;
    opacity: 1;
    border: 0.8px solid #749BC2;
    border-radius: 9px;
    visibility: hidden;

    /* Width control */
    max-width: 300px;
    width: max-content;
    white-space: normal;
    word-wrap: break-word;
}

[data-titleHead] {
    position: relative;
}